.container {
    /*height : 300px; */
    display: flex;
    flex-direction: row;  /*row ou column*/
    background-color: blue;
    justify-content: space-between; /* i justify the items. espace between every item ou on peut mettre space-between space-around (sa ajoute space avant et apres) sa fait un autre*/
    flex-wrap: wrap;
    gap: 20px;
    /*align-items: center; /* on peut mettre stretch, center. align bi harrekoun sur la verticale */
    
}

/* row en ligne 
column on sote a la ligne 
*/
/*si on a trop de item on devra slide vers la droite gauche donc pour quon slide pas on utilise flex-wrap: wrap (one of the most powerful tools);
on peut aussi mettre gap: 50px it adds gap between each item (si on a trop de item)*/
/*

*/

h1 {
    background-color: red;
    padding: 100px; 
    flex:1;  /* on change le grow shrink et */
}

/*si je veux que slmt item 1 soit stretch jajoute une rules donc dans le code original on ajouter une class qui va etre main item on va appeler*/
.main-item {
    align-self:stretch;
}
