body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    color:black;
}
header {
    background-color:black;
    color:white;
    padding:20px;
}
nav a{
    color:white;
    margin-right:20px;
}
main {
    max-width: 900px;
    margin:auto;
}
section {
    padding: 40px 20px;
}
img {
    width:250px;
}
